asgiref==3.7.2
Django==4.2.1
django-extensions==3.2.1
django-formtools==2.4.1
django-otp==1.2.1
django-phonenumber-field==6.4.0
django-two-factor-auth==1.15.2
phonenumbers==8.13.11
Pillow==9.5.0
pydot==1.4.2
pyotp==2.8.0
pyparsing==3.0.9
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.6.2
